body{
    background-color: powderblue;
}

#h02{
    color: blue;
}

#d01 {
    background-color: red;
}

#d02 {
    background-color: yellow;
}

#t02 {
    background-color: yellow;
}

#t03{
    background-color: yellow;
}

#row1 {
    background-color: red;
}

#row2 {
    background-color: green;
}